.navbar {
    background: #FFF;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid lightgray;
}

.nav_icon {
    display: none;
}

.nav_icon > i {
    font-size: 26px;
    color: #a5aaad;
}

.navbar__left > a {
    margin-right: 30px;
    text-decoration: none;
    color: #a5aaad;
    font-size: 15px;
    font-weight: 700;
}

.navbar__left .active_link {
    color: #265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 12px;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #a7a7a7;
    border-radius: 10px;
    background-color: #fff; 
    transition: background-color 0.3s ease-in-out;
}

.navbar__right:hover {
    background-color: rgb(177, 177, 177); 
    transform: scale(1.1);
  }

.navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
}

.navbar__right > a > i {
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #FFFF;
    padding: 7px;
}

.navbar__right__profile {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 2px 5px;
  }

  
  .navbar__right__profile > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #333;
    font-weight: bold;
    transition: color 0.1s ease-in-out;
  }
  

  /* .navbar__right__profile p {
    margin-top: 15px
  } */
  
  .profile_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .profile_image:hover {
    transform: scale(1.1);
  }
  

@media only screen and (max-width: 978px) {
    .nav_icon {
        display: inline;
    }
}

@media only screen and (max-width: 480px) {
    .navbar__left {
        display: none;
    }
}