main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
}

.main__container {
    padding: 20px 35px;
}

.main__title {
    display: flex;
    align-items: center;
}

.main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.main__greeting > h1 {
    font-size: 24px;
    color: #2e4a66;
    margin-bottom: 5px;
}

.main__greeting > p {
    font-size: 14px;
    font-weight: 700;
    color: #a5aaad;
}

.patients__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 20px 0px;
}

.patient_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    /* width: 380px; */
    padding: 25px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
.patient_card:hover {
    transform: translateY(-5px);
}

.card_image {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.card_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_inner > p {
    margin: 5px 0;
}

.card_inner > p > span {
    font-size: 15px;
}

.patient_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}



@media only screen and (max-width: 855px) {
    .main__cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0px;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
        justify-content: center;
    }

    .charts__right__cards {
        grid-template-columns: 1fr;
        align-items: center;
        margin-top: 30px;
    }
}


.add-patient-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #007bff; */
    background-color: #3ea175;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    outline: none;
  }
  
  .add-patient-button:hover {
    background-color: #0056b3;
  }
  
  /* .add-patient-form {
    width: 300px;
    z-index: 2;
  } */
  
/* Estilos para a div pai que centraliza verticalmente */
.add-patient-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
  }

.add-patient-form {
    position: absolute;
    width: auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.add-patient-form form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.add-patient-form .form-group {
    margin-bottom: 10px;
}

.add-patient-form h2 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 10px;
  }
  

.add-patient-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.add-patient-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-patient-form .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-patient-form .submit-button:hover {
    background-color: #0056b3;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    font-size: 20px;
    color: #dd1c1c;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #cfcfcf;
    color: #ff3838;
    /* transform: rotate(90deg); */
}


  